html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Plain Light" ;
    overflow-x: hidden;
}

#main{
    position: relative;
    width: 100%;
    background-color: #b94040;
}

.page1, .page2, .page3 , .page5{
    width: 100%;
    height: 100vh;
    background-color: #111;
}

#cursor{
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    background-color: white;
    /* border: #fff 1px solid; */
    transform: translate(-50%,-50%); /*to follow the center of movement*/
}
#loader{
    background-color: #0B0B0B ;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;

    /* to align the time and "your word in same line */
    display: flex;
    align-items: center;
    gap: 3vw ;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#timer h5 , #timer h6{
    font-size: 3vw;
    margin: 0;
    font-weight: 100;
    font-family: "silk serif";
}

#timer h5{
    width: 5vw;
    text-align: right;
}

.line h2{
    font-size: 5vw;
    margin: 0%;
    text-transform: uppercase;
    font-weight: 900;
    animation: nowAnimation 2s ease-out infinite;
    opacity: 0;
}

.line h1{
    margin: 0;
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase ;
}

@keyframes nowAnimation {
    0%{
        font-family: 'serif';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: 'serif';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 0;
    }
}

.page1 #nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.3vw;

}

.page1 #nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 0.8vw;
    font-weight: 100;
}

.hero{
    text-align: left;
    position: relative;
    left: 50%;
    width: 75%;
    margin-left: 17%;
    overflow: hidden;
    transform: translateX(-50%);
    height: fit-content;
    position: relative;
    z-index: 9999;
}

.hero h1 , .hero h2, .hero h3{
    line-height: 7vw;
    font-size: 7vw ;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.hero h2{
    padding-bottom: 1vh;
    border-bottom: #fff 0.5vh solid;
    transition: all 0.3s ease-in-out;
}

#hero3{
    display: flex;
    align-items: center;  
}

#hero3 h2 :hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: #fff 3px solid;
}

.page2{
    padding-top: 24vh;
    position: relative;
}
.videoContainer{
    position: relative;
    left: 26%;
    width: 78vw;
    height: 62vh;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}

.videoContainer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}

.videoCursor{
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    top: -10%;
    right: 20%;
    background-color: #FFA63D;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoCursor i{
    font-size: 2vw;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh ;
}

.page4Content{
    width: 72vw;
    margin-left: 28vw;
    display: flex;
    flex-direction: column;    
}

.page4Content h1{
    margin: 0;
    font-size: 16vh ;
    text-transform: uppercase;
    font-weight: 800;
}

.page4Content .line{
    width: 90%;
    height: 0.1vh;
    background-color: #fff;
    margin-top: 12vh ;
    margin-bottom: 4vh;
}

.page4Content p{
    width: 50%;
    font-size: 5vh;
    text-align: left;    
}

.flexContainer{
    display: flex;
    width: 60vw;
    height: 96vh;
    /* padding-right: 10vw;
    margin-bottom: 20vh; */
    align-items: center;
    gap: 2vw;
}

.flexContainer img{
    width: 70%;
    height: 94%;
}

.flexContainer p{
    display: flex;
    height: 100%;
    padding-top : 6.8vh ;
    flex-direction: column ;
    align-items:start;
    justify-content: baseline;
    font-size: 2.5vh;
    line-height: 3.7vh ;
    margin-right: 6vw;

}

/* .page4Content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
} */

.blue{
    background-color: #3F7DF4;
    width: 26vw;
    height: 80vh;
    padding: 3vw;
    padding-bottom: 10vh;
    position: relative;
    margin-top: -35vh;
    margin-left: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.blue .block{
    position: relative;
    z-index: 9999;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 90%;
    height: 25vh;
    border-bottom: white 1px solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1.5vw;
}

.blue .block h1{
    text-align: left;
    font-size: 3.1vh;
    margin: 0%;
    font-weight: 500;
}

.blue .block h3{
    font-size: 1vh;
} 

.blue .block .h3 {
    width: 40%;
}

.blue .block .h3 h3{
    text-align: left;
}

#line2{
    margin-top: 22vh;
}
#work{
    margin: 0%;
    font-size: 1vh;
    font-weight: 400;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}