html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Plain Light" ;
    overflow-x: hidden;
}

@font-face{
  font-family:"Silk Serif";
  src:url("/fonts/SilkSerif-Regular.woff2") format("woff2");
  font-weight:400;
  font-style:italic;
  font-display:swap;
}

#main{
    position: relative;
    width: 100%;
    background-color: #111;
}

.page1, .page2, .page3 , .page5{
    width: 100%;
    height: 100vh;
    background-color: #111;
}

#cursor{
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    background-color: white;
    /* border: #fff 1px solid; */
    transform: translate(-50%,-50%); /*to follow the center of movement*/
}
#loader{
    background-color: #0B0B0B ;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;

    /* to align the time and "your word in same line */
    display: flex;
    align-items: center;
    gap: 3vw ;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#timer h5 , #timer h6{
    font-size: 3vw;
    margin: 0;
    font-weight: 100;
    font-family: "silk serif";
}

#timer h5{
    width: 5vw;
    text-align: right;
}

.line h2{
    font-size: 5vw;
    margin: 0%;
    text-transform: uppercase;
    font-weight: 900;
    animation: nowAnimation 2s ease-out infinite;
    opacity: 0;
}

.line h1{
    margin: 0;
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase ;
}

@keyframes nowAnimation {
    0%{
        font-family: 'serif';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: 'serif';
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 0;
    }
}

.page1 #nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.3vw;

}

.page1 #nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 0.8vw;
    font-weight: 100;
}

.hero{
    text-align: left;
    position: relative;
    width: 72%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    overflow-y: hidden;
    height: fit-content;
    padding-left: 22vw;
    z-index: 9999;
}


.hero h1 ,  .hero h3{
    line-height: 7vw;
    font-size: 7vw ;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    position: relative;
}

.hero h2{
    font-size: 7vw;
    text-transform: uppercase;
    margin: 0%;
    font-weight: 900;
    position: relative;
    left: 0;
    padding-bottom: 1vh;
    text-decoration: underline #fff 1vh;
    /* border-bottom: #fff 0.5vh solid; */
}
#hero3{
    display: flex;
    gap: 0.7vw;
}

#hero1::before{
    content: "01" ;
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    font-family: "silk serif";
    left: 14%;
    top: 1%;
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
    /* border: #fff 0 solid; */
}

.page2{
    padding-top: 24vh;
    position: relative;
}
.videoContainer{
    width: 78vw;
    height: 62vh;
    position: relative;
    left: 26%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

.videoContainer video{
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
    opacity: 0 ;
}

.videoCursor{ 
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    top: -10%;
    right: 20%;
    background-color: #FFA63D;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoCursor i{
    font-size: 2vw;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 2vw;
    margin-bottom: 80vw;
}

.page3 h1{
    margin: 0;
    font-size: 16vh ;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    padding-left: 28vw;
}

.page3 .underline{
    width: 90%;
    height: 0.2vh;
    background-color: #fff;
    margin-top: 12vh ;
    margin-bottom: 12vh;
    margin-left: 28vw ;
    padding-right: 2vw ;
}

.page3 h1::before{
    content: "02" ;
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    font-family: "silk serif";
    left: 17%;
    top: 18%;
}

#imageContainer{
    position: relative;
    padding: 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.imageDiv{
    height: 34vw;
    width: 22vw ;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin : 1vw;
}

.imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.imageDiv:nth-child(2){
    height: 40vw;
    width: 32vw;
}
.imageDiv:nth-child(5){
    margin-top: 10vw;
    height: 40vw;
    width: 32vw;
}
.imageDiv:nth-child(6){
    margin-top: 2vw;
    height: 40vw;
    width: 32vw;
}

.page3 .circle1{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8vw;
    position: relative;
    margin-top: 24vw;
}

.page3 .circle1 svg{
    height: 7vw;
}

.page3 .circle2 svg{
    height: 7vw;
    transform: rotate(-45deg);
}

.page3 .circle2{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3 .circle2 svg{
    height: 7vw;
}
.page3 .circleText{
    pointer-events: none; 
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    color: #000;
    transform: scale(0);
    position: absolute;
    inset: 0;
    transition:transform .4s ease .4s,
               opacity    .4s ease .4s;
}

.page3 .circleText p{
    font-size: 0.95vw;
    width: 60%;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition:transform .4s ease .4s ;
    transition-delay: 0.4s;
}

.page3 .circle1:hover .circleText , .page3 .circle2:hover .circleText{
    transform: scale(1);
    opacity: 1;
}

.page3 .circleText p { 
    transform:scale(.6); 
    opacity:0;
    transition:transform .4s ease .4s ;
}

.page3 .circle1:hover p,
.page3 .circle2:hover p { 
    transform:scale(1); 
    opacity:1; 
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding-top: 5vh ;
}

.page4Content{
    width: 72vw;
    margin-left: 28vw;
    display: flex;
    flex-direction: column;    
}

.page4Content h1{
    margin: 0;
    font-size: 16vh ;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

#heading::before{
    content: "03" ;
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    font-family: "silk serif";
    left: -15%;
    top: 18%;
}

.page4Content .line{
    width: 90%;
    height: 0.1vh;
    background-color: #fff;
    margin-top: 12vh ;
    margin-bottom: 4vh;
}

.page4Content p{
    width: 50%;
    font-size: 5vh;
    text-align: left;    
}

.flexContainer{
    display: flex;
    width: 60vw;
    height: 96vh;
    /* padding-right: 10vw;
    margin-bottom: 20vh; */
    align-items: center;
    gap: 2vw;
}

.flexContainer img{
    width: 70%;
    height: 94%;
}

.flexContainer p{
    display: flex;
    height: 100%;
    padding-top : 6.8vh ;
    flex-direction: column ;
    align-items:start;
    justify-content: baseline;
    font-size: 2.5vh;
    line-height: 3.7vh ;
    margin-right: 6vw;

}

/* .page4Content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
} */

.blue{
    background-color: #3F7DF4;
    width: 26vw;
    height: 80vh;
    padding: 3vw;
    padding-bottom: 10vh;
    position: relative;
    margin-top: -35vh;
    margin-left: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.blue .block{
    position: relative;
    z-index: 9999;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 90%;
    height: 25vh;
    border-bottom: white 1px solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1.5vw;
}

.blue .block h1{
    text-align: left;
    font-size: 3.1vh;
    margin: 0%;
    font-weight: 500;
}

.blue .block h3{
    font-size: 1vh;
} 

.blue .block .h3 {
    width: 40%;
}

.blue .block .h3 h3{
    text-align: left;
}

#line2{
    margin-top: 22vh;
}
#work{
    margin: 0%;
    font-size: 1.2vh;
    font-weight: 400;
    padding-bottom: 1vh;
    margin-bottom: 10vh;
}

#page5{
    margin: 20vh 0vw;
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
}

.page5divs{
    white-space: nowrap;
    overflow: hidden;
    margin: 0%;
}

.page5divs h1{
    margin : -1.6vw;
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 2vh;
}

.page5divs h1 span{
    font-family: "silk serif";
    font-style: italic;
    margin: 0%;
}

#left h1{
    transform: translateX(0%);
    animation: moveLeft ;
    animation-duration: 20s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#right h1{
    transform: translateX(-100%);
    animation: moveRight ;
    animation-duration: 20s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
}

@keyframes moveLeft {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes moveRight {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.footer {
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-top: 5vw;
    padding-right: 2vw;
    text-align: left;
    background-color: #111;
}

.footer h1{
    margin: 0%;
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    font-family: "Plain Light";
}

.footer h1::before{
    content: "04" ;
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    font-family: "silk serif";
    left: -11%;
    top: 18%;
    color: #fff;
}

.footer #create {
    display: flex;
    gap: 5vw;
    align-items: center ;
}
.footer #create svg{
    width: 6vw;
    height: 6vw;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

.footer .footer-divs{
    display: flex;
    gap: 12vw;     
}

.footer-divs .box{
    display: flex;
    flex-direction: column;
    gap: 0;
    
}

.footer-divs .box h6{
    margin: 0%;
    font-size: 1.8vh;
    margin-bottom: 3vh;
}

.footer-divs .box h5{
    margin: 0%;
    font-size: 3.6vh;
    font-weight: 400;
}

.footer .lineWhite{
    width: 90%;
    height: 0.1vh;
    background-color: #fff;
    margin: 12vh 0vw;
    padding-right: 2vw;
}   

.page6{
    height: 35vh;
    margin: 0% ;
    padding-left: 28vw;
    background-color: #111;
    width: 100%;
}
.page6 h4{
    padding-top: 4vw;
    font-weight: 300;
    font-size: 1vw;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

#flag{
    height: 20vw;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#hero3{
    position: relative;
    z-index: 999;
}

.footer #create #two{
    display: none;
    -webkit-text-stroke: #fff 1px ;
    color: transparent;
    font-family: "silk serif";
    font-style: italic;
}